header.top {
  animation: bg_move 1.5s 6.8s linear infinite;
  @keyframes bg_move {
    0%{background-position: 0 0;}
    100%{background-position: 50px -50px;}
  }
}

.logo_title_1 {
  animation: logo_title_1 0.4s 1.5s linear 1;
  animation-fill-mode: forwards;
  @keyframes logo_title_1 {
    0%{height: 1px;}
    10%{height: 4px;}
    20%{height: 9px;}
    30%{height: 16px;}
    40%{height: 25px;}
    50%{height: 36px;}
    60%{height: 49px;}
    70%{height: 64px;}
    80%{height: 81px;}
    90%{height: 100px;}
    100%{height: 81px;}
  }
}

.logo_title_2 {
  animation: logo_title_2 0.4s 2.0s linear 1;
  animation-fill-mode: forwards;
  @keyframes logo_title_2 {
    0%{height: 0px;}
    10%{height: 2px;}
    20%{height: 8px;}
    30%{height: 18px;}
    40%{height: 34px;}
    50%{height: 56px;}
    60%{height: 80px;}
    70%{height: 108px;}
    80%{height: 148px;}
    90%{height: 200px;}
    100%{height: 158px;}
  }
}

.logo_sun {
  animation: logo_sun 0.5s 2.7s linear 1;
  animation-fill-mode: forwards;
  @keyframes logo_sun {
    0%{opacity: 0;}
    100%{opacity: 1;}
  }
}

.logo_moon {
  animation: logo_moon 0.5s 4.9s linear 1;
  animation-fill-mode: forwards;
  @keyframes logo_moon {
    0%{opacity: 0;}
    100%{opacity: 1;}
  }
}

.logo_text_1 {
  animation: logo_text_1 0.3s 3.5s linear 1;
  animation-fill-mode: forwards;
  @keyframes logo_text_1 {
    0%{transform: scale(0.04); opacity: 1;}
    10%{transform: scale(0.09); opacity: 1;}
    20%{transform: scale(0.16); opacity: 1;}
    30%{transform: scale(0.23); opacity: 1;}
    40%{transform: scale(0.32); opacity: 1;}
    50%{transform: scale(0.43); opacity: 1;}
    60%{transform: scale(0.55); opacity: 1;}
    70%{transform: scale(0.69); opacity: 1;}
    80%{transform: scale(0.89); opacity: 1;}
    90%{transform: scale(1.10); opacity: 1;}
    100%{transform: scale(1); opacity: 1;}
  }
}

.logo_text_2 {
  animation: logo_text_2 0.3s 3.8s linear 1;
  animation-fill-mode: forwards;
  @keyframes logo_text_2 {
    0%{transform: scale(0.04); opacity: 1;}
    10%{transform: scale(0.09); opacity: 1;}
    20%{transform: scale(0.16); opacity: 1;}
    30%{transform: scale(0.23); opacity: 1;}
    40%{transform: scale(0.32); opacity: 1;}
    50%{transform: scale(0.43); opacity: 1;}
    60%{transform: scale(0.55); opacity: 1;}
    70%{transform: scale(0.69); opacity: 1;}
    80%{transform: scale(0.89); opacity: 1;}
    90%{transform: scale(1.10); opacity: 1;}
    100%{transform: scale(1); opacity: 1;}
  }
}

.logo_text_3 {
  animation: logo_text_3 0.3s 4.1s linear 1;
  animation-fill-mode: forwards;
  @keyframes logo_text_3 {
    0%{transform: scale(0.04); opacity: 1;}
    10%{transform: scale(0.09); opacity: 1;}
    20%{transform: scale(0.16); opacity: 1;}
    30%{transform: scale(0.23); opacity: 1;}
    40%{transform: scale(0.32); opacity: 1;}
    50%{transform: scale(0.43); opacity: 1;}
    60%{transform: scale(0.55); opacity: 1;}
    70%{transform: scale(0.69); opacity: 1;}
    80%{transform: scale(0.89); opacity: 1;}
    90%{transform: scale(1.10); opacity: 1;}
    100%{transform: scale(1); opacity: 1;}
  }
}

.logo_arrow {
  animation: logo_arrow 0.1s 3.6s linear 1;
  animation-fill-mode: forwards;
  @keyframes logo_arrow {
    0%{background-size: 0px, 46px; opacity: 1;}
    30%{background-size: 108px, 46px; opacity: 1;}
    50%{background-size: 162px, 46px; opacity: 1;}
    100%{background-size: 215px, 46px; opacity: 1;}
  }
}

.mob_left {
  animation: mob_left 1.3s 5.5s linear 1;
  animation-fill-mode: forwards;
  @keyframes mob_left {
    0%{transform: translateX(0px);}
    100%{transform: translateX(680px);}
  }
  @include mq-sm {
    @keyframes mob_left {
      0%{margin: 0 0 0 -800px;}
      100%{margin: 0 0 0 -120px;}
    }
  }
}

.mob_left_1 {
  animation: mob_left_1 6s 7s linear infinite;
  animation-fill-mode: forwards;
  @keyframes mob_left_1 {
    0%{margin: 15px 0 0 2px;}
    1%{margin: 0 0 0 0;}
    7%{margin: 0 0 0 0;}
    8%{margin: 15px 0 0 2px;}
    9%{margin: 0 0 0 0;}
    19%{margin: 0 0 0 0;}
    20%{margin: 15px 0 0 2px;}
    21%{margin: 0 0 0 0;}
    26%{margin: 0 0 0 0;}
    27%{margin: 15px 0 0 2px;}
    28%{margin: 0 0 0 0;}
    33%{margin: 0 0 0 0;}
    34%{margin: 15px 0 0 2px;}
    35%{margin: 0 0 0 0;}
    39%{margin: 0 0 0 0;}
    40%{margin: 15px 0 0 2px;}
    41%{margin: 0 0 0 0;}
    46%{margin: 0 0 0 0;}
    47%{margin: 15px 0 0 2px;}
    48%{margin: 0 0 0 0;}
    50%{margin: 0 0 0 0;}
    100%{margin: 0 0 0 0;}
  }
}

.mob_left_2 {
  animation: mob_left_2 6s 7s linear infinite;
  animation-fill-mode: forwards;
  @keyframes mob_left_2 {
    0%{margin: 15px 0 0 5px;}
    1%{margin: 0 0 0 0;}
    5%{margin: 0 0 0 0;}
    6%{margin: 15px 0 0 5px;}
    7%{margin: 0 0 0 0;}
    11%{margin: 0 0 0 0;}
    12%{margin: 15px 0 0 5px;}
    13%{margin: 0 0 0 0;}
    21%{margin: 0 0 0 0;}
    22%{margin: 15px 0 0 5px;}
    23%{margin: 0 0 0 0;}
    31%{margin: 0 0 0 0;}
    32%{margin: 15px 0 0 5px;}
    33%{margin: 0 0 0 0;}
    36%{margin: 0 0 0 0;}
    37%{margin: 15px 0 0 5px;}
    38%{margin: 0 0 0 0;}
    44%{margin: 0 0 0 0;}
    45%{margin: 15px 0 0 5px;}
    46%{margin: 0 0 0 0;}
    50%{margin: 0 0 0 0;}
    100%{margin: 0 0 0 0;}
  }
}

.mob_left_3 {
  animation: mob_left_3 6s 7s linear infinite;
  animation-fill-mode: forwards;
  @keyframes mob_left_3 {
    0%{margin: 19px 0 0 2px;}
    1%{margin: 0 0 0 0;}
    12%{margin: 0 0 0 0;}
    13%{margin: 19px 0 0 2px;}
    14%{margin: 0 0 0 0;}
    17%{margin: 0 0 0 0;}
    18%{margin: 19px 0 0 2px;}
    19%{margin: 0 0 0 0;}
    25%{margin: 0 0 0 0;}
    26%{margin: 19px 0 0 2px;}
    27%{margin: 0 0 0 0;}
    31%{margin: 0 0 0 0;}
    32%{margin: 19px 0 0 2px;}
    33%{margin: 0 0 0 0;}
    45%{margin: 0 0 0 0;}
    46%{margin: 19px 0 0 2px;}
    47%{margin: 0 0 0 0;}
    50%{margin: 0 0 0 0;}
    100%{margin: 0 0 0 0;}
  }
}

.mob_left_4 {
  animation: mob_left_4 6s 7s linear infinite;
  animation-fill-mode: forwards;
  @keyframes mob_left_4 {
    0%{margin: 15px 0 0 4px;}
    1%{margin: 0 0 0 0;}
    5%{margin: 0 0 0 0;}
    6%{margin: 15px 0 0 4px;}
    7%{margin: 0 0 0 0;}
    11%{margin: 0 0 0 0;}
    12%{margin: 15px 0 0 4px;}
    13%{margin: 0 0 0 0;}
    19%{margin: 0 0 0 0;}
    20%{margin: 15px 0 0 4px;}
    21%{margin: 0 0 0 0;}
    34%{margin: 0 0 0 0;}
    35%{margin: 15px 0 0 4px;}
    36%{margin: 0 0 0 0;}
    41%{margin: 0 0 0 0;}
    42%{margin: 15px 0 0 4px;}
    43%{margin: 0 0 0 0;}
    50%{margin: 0 0 0 0;}
    100%{margin: 0 0 0 0;}
  }
}

.mob_left_5 {
  animation: mob_left_5 6s 7s linear infinite;
  animation-fill-mode: forwards;
  @keyframes mob_left_5 {
    0%{margin: 9px 0 0 12px;}
    1%{margin: 0 0 0 0;}
    13%{margin: 0 0 0 0;}
    14%{margin: 9px 0 0 12px;}
    15%{margin: 0 0 0 0;}
    22%{margin: 0 0 0 0;}
    23%{margin: 9px 0 0 12px;}
    24%{margin: 0 0 0 0;}
    31%{margin: 0 0 0 0;}
    32%{margin: 9px 0 0 12px;}
    33%{margin: 0 0 0 0;}
    37%{margin: 0 0 0 0;}
    38%{margin: 9px 0 0 12px;}
    39%{margin: 0 0 0 0;}
    45%{margin: 0 0 0 0;}
    46%{margin: 9px 0 0 12px;}
    47%{margin: 0 0 0 0;}
    50%{margin: 0 0 0 0;}
    100%{margin: 0 0 0 0;}
  }
}

.mob_left_6 {
  animation: mob_left_6 6s 7s linear infinite;
  animation-fill-mode: forwards;
  @keyframes mob_left_6 {
    0%{margin: 10px 0 0 10px;}
    1%{margin: 0 0 0 0;}
    9%{margin: 0 0 0 0;}
    10%{margin: 10px 0 0 10px;}
    11%{margin: 0 0 0 0;}
    14%{margin: 0 0 0 0;}
    15%{margin: 10px 0 0 10px;}
    16%{margin: 0 0 0 0;}
    22%{margin: 0 0 0 0;}
    23%{margin: 10px 0 0 10px;}
    24%{margin: 0 0 0 0;}
    29%{margin: 0 0 0 0;}
    30%{margin: 10px 0 0 10px;}
    31%{margin: 0 0 0 0;}
    39%{margin: 0 0 0 0;}
    40%{margin: 10px 0 0 10px;}
    41%{margin: 0 0 0 0;}
    50%{margin: 0 0 0 0;}
    100%{margin: 0 0 0 0;}
  }
}

.fukidashi_left_1 {
  animation: fukidashi_left_1 6s 7s linear infinite;
  @keyframes fukidashi_left_1 {
    0%{margin: 0 0 0 0; opacity: 0;}
    5%{margin: 0 0 0 0; opacity: 0;}
    6%{margin: 0 0 0 0; opacity: 1;}
    10%{margin: 0 0 0 0; opacity: 1;}
    11%{margin: -2px 0 0 2px; opacity: 1;}
    14%{margin: -2px 0 0 2px; opacity: 1;}
    15%{margin: -4px 0 0 4px; opacity: 1;}
    19%{margin: -4px 0 0 4px; opacity: 1;}
    20%{margin: 0 0 0 0; opacity: 0;}
    23%{margin: 0 0 0 0; opacity: 0;}
    24%{margin: 0 0 0 0; opacity: 1;}
    28%{margin: 0 0 0 0; opacity: 1;}
    29%{margin: -2px 0 0 2px; opacity: 1;}
    33%{margin: -2px 0 0 2px; opacity: 1;}
    34%{margin: -4px 0 0 4px; opacity: 1;}
    38%{margin: -4px 0 0 4px; opacity: 1;}
    39%{margin: 0 0 0 0; opacity: 0;}
    100%{margin: 0 0 0 0; opacity: 0;}
  }
}

.fukidashi_left_2 {
  animation: fukidashi_left_2 6s 7s linear infinite;
  @keyframes fukidashi_left_2 {
    0%{margin: 0 0 0 0; opacity: 0;}
    5%{margin: 0 0 0 0; opacity: 0;}
    6%{margin: 0 0 0 0; opacity: 1;}
    15%{margin: 0 0 0 0; opacity: 1;}
    16%{margin: -2px 0 0 2px; opacity: 1;}
    20%{margin: -2px 0 0 2px; opacity: 1;}
    21%{margin: -4px 0 0 4px; opacity: 1;}
    25%{margin: -4px 0 0 4px; opacity: 1;}
    26%{margin: -6px 0 0 6px; opacity: 1;}
    30%{margin: -6px 0 0 6px; opacity: 1;}
    31%{margin: -8px 0 0 8px; opacity: 1;}
    35%{margin: -8px 0 0 8px; opacity: 1;}
    36%{margin: -10px 0 0 10px; opacity: 1;}
    43%{margin: -10px 0 0 10px; opacity: 1;}
    44%{margin: -10px 0 0 10px; opacity: 0;}
    45%{margin: 0 0 0 0; opacity: 0;}
    100%{margin: 0 0 0 0; opacity: 0;}
  }
}

.fukidashi_left_3 {
  animation: fukidashi_left_3 6s 7s linear infinite;
  @keyframes fukidashi_left_3 {
    0%{margin: 0 0 0 0; opacity: 0;}
    4%{margin: 0 0 0 0; opacity: 0;}
    5%{margin: 0 0 0 0; opacity: 1;}
    8%{margin: 0 0 0 0; opacity: 1;}
    9%{margin: -2px 0 0 2px; opacity: 1;}
    12%{margin: -2px 0 0 2px; opacity: 1;}
    13%{margin: -4px 0 0 4px; opacity: 1;}
    16%{margin: -4px 0 0 4px; opacity: 1;}
    17%{margin: 0 0 0 0; opacity: 0;}
    19%{margin: 0 0 0 0; opacity: 0;}
    20%{margin: 0 0 0 0; opacity: 1;}
    23%{margin: 0 0 0 0; opacity: 1;}
    24%{margin: -2px 0 0 2px; opacity: 1;}
    27%{margin: -2px 0 0 2px; opacity: 1;}
    28%{margin: -4px 0 0 4px; opacity: 1;}
    31%{margin: -4px 0 0 4px; opacity: 1;}
    32%{margin: 0 0 0 0; opacity: 0;}
    34%{margin: 0 0 0 0; opacity: 0;}
    35%{margin: 0 0 0 0; opacity: 1;}
    38%{margin: 0 0 0 0; opacity: 1;}
    39%{margin: -2px 0 0 2px; opacity: 1;}
    42%{margin: -2px 0 0 2px; opacity: 1;}
    43%{margin: -4px 0 0 4px; opacity: 1;}
    45%{margin: -4px 0 0 4px; opacity: 1;}
    46%{margin: 0 0 0 0; opacity: 0;}
    100%{margin: 0 0 0 0; opacity: 0;}
  }
}

.mob_right {
  @keyframes mob_right {
    0%{margin: 0 0 0 930px;}
    100%{margin: 0 0 0 250px;}
  }
  @include mq-sm {
    @keyframes mob_right {
      0%{margin: 0 0 0 780px;}
      100%{margin: 0 0 0 100px;}
    }
  }
}

.mob_right_1 {
  animation: mob_right_1 6s 7s linear infinite;
  animation-fill-mode: forwards;
  @keyframes mob_right_1 {
    50%{margin: 0 0 0 0;}
    56%{margin: 0 0 0 0;}
    57%{margin: 10px 10px 0 0;}
    58%{margin: 0 0 0 0;}
    64%{margin: 0 0 0 0;}
    65%{margin: 10px 10px 0 0;}
    66%{margin: 0 0 0 0;}
    71%{margin: 0 0 0 0;}
    72%{margin: 10px 10px 0 0;}
    73%{margin: 0 0 0 0;}
    80%{margin: 0 0 0 0;}
    81%{margin: 10px 10px 0 0;}
    82%{margin: 0 0 0 0;}
    90%{margin: 0 0 0 0;}
    91%{margin: 10px 10px 0 0;}
    92%{margin: 0 0 0 0;}
    100%{margin: 0 0 0 0;}
  }
}

.mob_right_2 {
  animation: mob_right_2 6s 7s linear infinite;
  animation-fill-mode: forwards;
  @keyframes mob_right_2 {
    50%{margin: 0 0 0 0;}
    60%{margin: 0 0 0 0;}
    61%{margin: 15px 10px 0 0;}
    62%{margin: 0 0 0 0;}
    67%{margin: 0 0 0 0;}
    68%{margin: 15px 10px 0 0;}
    69%{margin: 0 0 0 0;}
    74%{margin: 0 0 0 0;}
    75%{margin: 15px 10px 0 0;}
    76%{margin: 0 0 0 0;}
    84%{margin: 0 0 0 0;}
    85%{margin: 15px 10px 0 0;}
    86%{margin: 0 0 0 0;}
    93%{margin: 0 0 0 0;}
    94%{margin: 15px 10px 0 0;}
    95%{margin: 0 0 0 0;}
    100%{margin: 0 0 0 0;}
  }
}

.mob_right_3 {
  animation: mob_right_3 6s 7s linear infinite;
  animation-fill-mode: forwards;
  @keyframes mob_right_3 {
    50%{margin: 0 0 0 0;}
    54%{margin: 0 0 0 0;}
    55%{margin: 12px 7px 0 0;}
    56%{margin: 0 0 0 0;}
    62%{margin: 0 0 0 0;}
    63%{margin: 12px 7px 0 0;}
    64%{margin: 0 0 0 0;}
    70%{margin: 0 0 0 0;}
    71%{margin: 12px 7px 0 0;}
    72%{margin: 0 0 0 0;}
    82%{margin: 0 0 0 0;}
    83%{margin: 12px 7px 0 0;}
    84%{margin: 0 0 0 0;}
    88%{margin: 0 0 0 0;}
    89%{margin: 12px 7px 0 0;}
    90%{margin: 0 0 0 0;}
    100%{margin: 0 0 0 0;}
  }
}

.mob_right_4 {
  animation: mob_right_4 6s 7s linear infinite;
  animation-fill-mode: forwards;
  @keyframes mob_right_4 {
    50%{margin: 0 0 0 0;}
    58%{margin: 0 0 0 0;}
    59%{margin: 12px 11px 0 0;}
    60%{margin: 0 0 0 0;}
    64%{margin: 0 0 0 0;}
    65%{margin: 12px 11px 0 0;}
    66%{margin: 0 0 0 0;}
    72%{margin: 0 0 0 0;}
    73%{margin: 12px 11px 0 0;}
    74%{margin: 0 0 0 0;}
    79%{margin: 0 0 0 0;}
    80%{margin: 12px 11px 0 0;}
    81%{margin: 0 0 0 0;}
    85%{margin: 0 0 0 0;}
    86%{margin: 12px 11px 0 0;}
    87%{margin: 0 0 0 0;}
    100%{margin: 0 0 0 0;}
  }
}

.mob_right_5 {
  animation: mob_right_5 6s 7s linear infinite;
  animation-fill-mode: forwards;
  @keyframes mob_right_5 {
    50%{margin: 0 0 0 0;}
    55%{margin: 0 0 0 0;}
    56%{margin: 9px 13px 0 0;}
    57%{margin: 0 0 0 0;}
    67%{margin: 0 0 0 0;}
    68%{margin: 9px 13px 0 0;}
    69%{margin: 0 0 0 0;}
    75%{margin: 0 0 0 0;}
    76%{margin: 9px 13px 0 0;}
    77%{margin: 0 0 0 0;}
    84%{margin: 0 0 0 0;}
    85%{margin: 9px 13px 0 0;}
    86%{margin: 0 0 0 0;}
    93%{margin: 0 0 0 0;}
    94%{margin: 9px 13px 0 0;}
    95%{margin: 0 0 0 0;}
    100%{margin: 0 0 0 0;}
  }
}

.mob_right_6 {
  animation: mob_right_6 6s 7s linear infinite;
  animation-fill-mode: forwards;
  @keyframes mob_right_6 {
    50%{margin: 0 0 0 0;}
    56%{margin: 0 0 0 0;}
    57%{margin: 14px 5px 0 0;}
    58%{margin: 0 0 0 0;}
    65%{margin: 0 0 0 0;}
    66%{margin: 14px 5px 0 0;}
    67%{margin: 0 0 0 0;}
    71%{margin: 0 0 0 0;}
    72%{margin: 14px 5px 0 0;}
    73%{margin: 0 0 0 0;}
    81%{margin: 0 0 0 0;}
    82%{margin: 14px 5px 0 0;}
    83%{margin: 0 0 0 0;}
    91%{margin: 0 0 0 0;}
    92%{margin: 14px 5px 0 0;}
    93%{margin: 0 0 0 0;}
    100%{margin: 0 0 0 0;}
  }
}

.fukidashi_right_1 {
  animation: fukidashi_right_1 6s 7s linear infinite;
  @keyframes fukidashi_right_1 {
    0%{margin: 0 0 0 0; opacity: 0;}
    54%{margin: 0 0 0 0; opacity: 0;}
    55%{margin: 0 0 0 0; opacity: 1;}
    58%{margin: 0 0 0 0; opacity: 1;}
    59%{margin: -2px 2px 0 0; opacity: 1;}
    62%{margin: -2px 2px 0 0; opacity: 1;}
    63%{margin: -4px 4px 0 0; opacity: 1;}
    66%{margin: -4px 4px 0 0; opacity: 1;}
    67%{margin: 0 0 0 0; opacity: 0;}
    69%{margin: 0 0 0 0; opacity: 0;}
    70%{margin: 0 0 0 0; opacity: 1;}
    73%{margin: 0 0 0 0; opacity: 1;}
    74%{margin: -2px 2px 0 0; opacity: 1;}
    77%{margin: -2px 2px 0 0; opacity: 1;}
    78%{margin: -2px 4px 0 0; opacity: 1;}
    81%{margin: -2px 4px 0 0; opacity: 1;}
    82%{margin: 0 0 0 0; opacity: 0;}
    84%{margin: 0 0 0 0; opacity: 0;}
    85%{margin: 0 0 0 0; opacity: 1;}
    88%{margin: 0 0 0 0; opacity: 1;}
    89%{margin: -2px 2px 0 0; opacity: 1;}
    92%{margin: -2px 2px 0 0; opacity: 1;}
    93%{margin: -4px 4px 0 0; opacity: 1;}
    95%{margin: -4px 4px 0 0; opacity: 1;}
    96%{margin: 0 0 0 0; opacity: 0;}
    100%{margin: 0 0 0 0; opacity: 0;}
  }
}

.fukidashi_right_2 {
  animation: fukidashi_right_2 6s 7s linear infinite;
  @keyframes fukidashi_right_2 {
    0%{margin: 0 0 0 0; opacity: 0;}
    50%{margin: 0 0 0 0; opacity: 0;}
    55%{margin: 0 0 0 0; opacity: 0;}
    56%{margin: 0 0 0 0; opacity: 1;}
    60%{margin: 0 0 0 0; opacity: 1;}
    61%{margin: -2px 2px 0 0; opacity: 1;}
    64%{margin: -2px 2px 0 0; opacity: 1;}
    65%{margin: -4px 4px 0 0; opacity: 1;}
    69%{margin: -4px 4px 0 0; opacity: 1;}
    70%{margin: 0 0 0 0; opacity: 0;}
    73%{margin: 0 0 0 0; opacity: 0;}
    74%{margin: 0 0 0 0; opacity: 1;}
    78%{margin: 0 0 0 0; opacity: 1;}
    79%{margin: -2px 2px 0 0; opacity: 1;}
    83%{margin: -2px 2px 0 0; opacity: 1;}
    84%{margin: -4px 4px 0 0; opacity: 1;}
    88%{margin: -4px 4px 0 0; opacity: 1;}
    89%{margin: -0 0 0 0; opacity: 0;}
    100%{margin: 0 0 0 0; opacity: 0;}
  }
}

.fukidashi_right_3 {
  animation: fukidashi_right_3 6s 7s linear infinite;
  @keyframes fukidashi_right_3 {
    0%{margin: 0 0 0 0; opacity: 0;}
    55%{margin: 0 0 0 0; opacity: 0;}
    56%{margin: 0 0 0 0; opacity: 1;}
    65%{margin: 0 0 0 0; opacity: 1;}
    66%{margin: -2px 2px 0 0; opacity: 1;}
    70%{margin: -2px 2px 0 0; opacity: 1;}
    71%{margin: -4px 4px 0 0; opacity: 1;}
    75%{margin: -4px 4px 0 0; opacity: 1;}
    76%{margin: -6px 6px 0 0; opacity: 1;}
    80%{margin: -6px 6px 0 0; opacity: 1;}
    81%{margin: -8px 8px 0 0; opacity: 1;}
    85%{margin: -8px 8px 0 0; opacity: 1;}
    86%{margin: -10px 10px 0 0; opacity: 1;}
    93%{margin: -10px 10px 0 0; opacity: 1;}
    94%{margin:- -10px 10px 0 0; opacity: 0;}
    95%{margin: 0 0 0 0; opacity: 0;}
    100%{margin: 0 0 0 0; opacity: 0;}
  }
}

.about_cloud_1 {
  animation: about_cloud_1 3s 0s linear infinite;
  @keyframes about_cloud_1 {
    0% { top: 130px;}
    10% { top: 128px;}
    40% { top: 112px; }
    50% { top: 110px; }
    60% { top: 112px; }
    90% { top: 128px; }
    100% { top: 130px; }
  }
}

.about_cloud_2 {
  animation: about_cloud_2 3.5s 0s linear infinite;
  @keyframes about_cloud_2 {
    0% { top: 543px;}
    10% { top: 545px;}
    40% { top: 561px; }
    50% { top: 563px; }
    60% { top: 561px; }
    90% { top: 545px; }
    100% { top: 543px; }
  }
}

.about_cloud_3 {
  animation: about_cloud_3 3.2s 0s linear infinite;
  @keyframes about_cloud_3 {
    0% { top: 1011px;}
    10% { top: 1013px;}
    40% { top: 1029px; }
    50% { top: 1031px; }
    60% { top: 1029px; }
    90% { top: 1013px; }
    100% { top: 1011px; }
  }
}

.archive_cloud_4 {
  animation: archive_cloud_4 3s 0s linear infinite;
  @keyframes archive_cloud_4 {
    0% { top: -80px;}
    10% { top: -82px;}
    40% { top: -98px; }
    50% { top: -100px; }
    60% { top: -98px; }
    90% { top: -82px; }
    100% { top: -80px; }
  }
  @include mq-sm {
    animation: logo_cloud_4;
    @keyframes logo_cloud_4 {
    }
  }
}

.archive_cloud_5 {
  animation: logo_cloud_5 3s 0s linear infinite;
  @keyframes logo_cloud_5 {
    0% { top: 330px;}
    10% { top: 332px;}
    40% { top: 348px; }
    50% { top: 350px; }
    60% { top: 348px; }
    90% { top: 332px; }
    100% { top: 330px; }
  }
  @include mq-sm {
    animation: logo_cloud_5;
    @keyframes logo_cloud_5 {
    }
  }
}
