//responsive
@mixin mq-sm {
  @media screen and (max-width: 480px) {
    @content
  }
};

@mixin mq-pc {
  @media screen and (min-width: 481px) {
    @content
  }
};

body {
  width: 100vw;
  background-color: #2cb0fb;
  position: relative;
  overflow-x: hidden;
}

header.top {
  background-image: url("../img/header/bg.png");
  background-repeat: repeat;
  position: relative;
  margin: auto;
  @include mq-pc {
    height: 800px;
  }
  @include mq-sm {
    height: 600px;
  }
}

.header_wrapper {
  margin: 0 auto;
  width: 600px;
  @include mq-sm {
    width: 300px;
  }
  .title {
    margin: auto;
    padding-top: 60px;
    background-image: url("../img/header/kayac.png");
    background-repeat: no-repeat;
    background-size: 550px, 50px;
    background-position: center;
    width: 550px;
    height: 50px;
    @include mq-sm {
      background-size: 300px, 50px;
      width: 300px;
      height: 50px;
    }
  }
}

.sns {
  width: 333px;
  margin: auto;
  margin-top: 55px;
  text-align: center;
  @include mq-sm {
    margin-top: -90px;
    width: 280px;
  }
  .sns_twitter{
    width: 80px;
    display: inline-block;
  }
  .sns_facebook {
    width: 70px;
    display: inline-block;
  }
  .sns_hatebu {
    width: 98px;
    display: inline-block;
  }
}


.logo {
  position: relative;
  margin: auto;
  background-size: 655px, 415px;
  background-position: center;
  width: 655px;
  height: 415px;
  padding-left: 0px;
  padding-top: 20px;
  @include mq-sm {
    left: 53%;
    transform: scale(0.45) translateX(-111%);
    margin-top: -130px;
  }

  .logo_pre_mountain {
    position: absolute;
    margin: auto;
    background-image: url("../img/header/logo_pre_mountain.png");
    background-repeat: no-repeat;
    background-size: 595px, 415px;
    background-position: center;
    width: 595px;
    height: 415px;
    left: 2px;
    bottom: 0;
  }
  .logo_pre_tree {
    position: absolute;
    margin: auto;
    background-image: url("../img/header/logo_pre_tree.png");
    background-repeat: no-repeat;
    background-size: 655px, 146px;
    background-position: center;
    width: 655px;
    height: 146px;
    left: -28px;
    bottom: 0;
  }

  .logo_title_1 {
    position: absolute;
    margin: auto;
    background-image: url("../img/header/logo_title_1.png");
    background-repeat: no-repeat;
    background-size: 580px, 0px;
    background-position: center;
    width: 580px;
    height: 0px;
    left: 0px;
    bottom: 188px;
  }

  .logo_title_2 {
    position: absolute;
    margin: auto;
    background-image: url("../img/header/logo_title_2.png");
    background-repeat: no-repeat;
    background-size: 335px, 0px;
    background-position: center;
    width: 335px;
    height: 0px;
    left: 128px;
    bottom: 1px;
  }

  .logo_sun {
    position: absolute;
    margin: auto;
    background-image: url("../img/header/logo_sun.png");
    background-repeat: no-repeat;
    background-size: 159px, 159px;
    background-position: center;
    width: 159px;
    height: 159px;
    left: 72px;
    top: 27px;
    opacity: 0;
  }

  .logo_moon {
    position: absolute;
    margin: auto;
    background-image: url("../img/header/logo_moon.png");
    background-repeat: no-repeat;
    background-size: 121px, 102px;
    background-position: center;
    width: 121px;
    height: 102px;
    left: 386px;
    top: 50px;
    opacity: 0;
  }

  .logo_text_1 {
    position: absolute;
    margin: auto;
    background-image: url("../img/header/logo_text_1.png");
    background-repeat: no-repeat;
    background-size: 50px, 60px;
    background-position: center;
    width: 50px;
    height: 60px;
    left: 201px;
    top: 58px;
    opacity: 0;
  }

  .logo_text_2 {
    position: absolute;
    margin: auto;
    background-image: url("../img/header/logo_text_2.png");
    background-repeat: no-repeat;
    background-size: 51px, 53px;
    background-position: center;
    width: 51px;
    height: 53px;
    left: 277px;
    top: 50px;
    opacity: 0;
  }

  .logo_text_3 {
    position: absolute;
    margin: auto;
    background-image: url("../img/header/logo_text_3.png");
    background-repeat: no-repeat;
    background-size: 35px, 53px;
    background-position: center;
    width: 35px;
    height: 53px;
    left: 364px;
    top: 63px;
    opacity: 0;
  }

  .logo_arrow {
    position: absolute;
    margin: auto;
    background-image: url("../img/header/logo_arrow.png");
    background-repeat: no-repeat;
    background-size: 215px, 46px;
    width: 215px;
    height: 46px;
    left: 195px;
    top: 115px;
    opacity: 0;
  }
}

.mob {
  margin: auto;
  position: absolute;
  top: 0;
  @include mq-sm {
    transform: scale(0.5);
    margin-top: 350px;
  }

  .mob_left {
    position: absolute;
    background-size: 655px, 415px;
    background-position: center;
    width: 655px;
    height: 415px;
    margin-left: -1000px;
    padding-top: 20px;
    @include mq-sm {
      margin-left: -800px;
    }

    .mob_left_1 {
      position: absolute;
      margin: auto;
      background-image: url("../img/header/mob_left_1.png");
      background-repeat: no-repeat;
      background-size: 137px, 258px;
      background-position: center;
      width: 137px;
      height: 258px;
      left: -36px;
      top: 50px;
      @include mq-sm {
        left: 6px;
        top: 7px;
      }
    }
    .mob_left_2 {
      position: absolute;
      margin: auto;
      background-image: url("../img/header/mob_left_2.png");
      background-repeat: no-repeat;
      background-size: 158px, 265px;
      background-position: center;
      width: 158px;
      height: 265px;
      left: 40px;
      top: 105px;
      @include mq-sm {
        left: 90px;
        top: 45px;
      }
    }
    .mob_left_3 {
      position: absolute;
      margin: auto;
      background-image: url("../img/header/mob_left_3.png");
      background-repeat: no-repeat;
      background-size: 163px, 288px;
      background-position: center;
      width: 163px;
      height: 288px;
      left: 0px;
      top: 247px;
      @include mq-sm {
        left: -20px;
        top: 140px;
      }
    }
    .mob_left_4 {
      position: absolute;
      margin: auto;
      background-image: url("../img/header/mob_left_4.png");
      background-repeat: no-repeat;
      background-size: 126px, 279px;
      background-position: center;
      width: 126px;
      height: 279px;
      left: 103px;
      top: 244px;
      @include mq-sm {
        left: 83px;
        top: 200px;
      }
    }
    .mob_left_5 {
      position: absolute;
      margin: auto;
      background-image: url("../img/header/mob_left_5.png");
      background-repeat: no-repeat;
      background-size: 216px, 286px;
      background-position: center;
      width: 216px;
      height: 286px;
      left: -83px;
      top: 369px;
      @include mq-sm {
        visibility: hidden;
      }
    }
    .mob_left_6 {
      position: absolute;
      margin: auto;
      background-image: url("../img/header/mob_left_6.png");
      background-repeat: no-repeat;
      background-size: 137px, 295px;
      background-position: center;
      width: 137px;
      height: 295px;
      left: 66px;
      top: 397px;
      @include mq-sm {
        left: 183px;
        top: 210px;
      }
    }
    .fukidashi_left_1 {
      position: absolute;
      margin: auto;
      background-image: url("../img/header/fukidashi_left.png");
      background-repeat: no-repeat;
      background-size: 97px, 75px;
      background-position: center;
      width: 97px;
      height: 75px;
      left: 100px;
      top: 22px;
      opacity: 0;
      @include mq-sm {
        left: 233px;
        top: 140px;
      }
    }
    .fukidashi_left_2 {
      position: absolute;
      margin: auto;
      background-image: url("../img/header/fukidashi_left.png");
      background-repeat: no-repeat;
      background-size: 97px, 75px;
      background-position: center;
      width: 97px;
      height: 75px;
      left: 170px;
      top: 170px;
      opacity: 0;
      @include mq-sm {
        left: 30px;
        top: 90px;
      }
    }
    .fukidashi_left_3 {
      position: absolute;
      margin: auto;
      background-image: url("../img/header/fukidashi_left.png");
      background-repeat: no-repeat;
      background-size: 97px, 75px;
      background-position: center;
      width: 97px;
      height: 75px;
      left: 190px;
      top: 390px;
      opacity: 0;
      @include mq-sm {
        left: 183px;
        top: 210px;
      }
    }
  }
  .mob_right {
    position: absolute;
    background-size: 655px, 415px;
    background-position: center;
    width: 655px;
    height: 415px;
    margin-left: 930px;
    padding-top: 20px;
    animation: mob_right 1.3s 5.5s linear 1;
    animation-fill-mode: forwards;
    @include mq-sm {
      margin-left: 730px;
    }

    .mob_right_1 {
      position: absolute;
      margin: auto;
      background-image: url("../img/header/mob_right_1.png");
      background-repeat: no-repeat;
      background-size: 163px, 287px;
      background-position: center;
      width: 163px;
      height: 287px;
      right: -60px;
      top: 56px;
      @include mq-sm {
        right: 30px;
        top: 15px;
      }
    }
    .mob_right_2 {
      position: absolute;
      margin: auto;
      background-image: url("../img/header/mob_right_2.png");
      background-repeat: no-repeat;
      background-size: 137px, 295px;
      background-position: center;
      width: 137px;
      height: 295px;
      right: 52px;
      top: 149px;
      @include mq-sm {
        right: 150px;
        top: 85px;
      }
    }
    .mob_right_3 {
      position: absolute;
      margin: auto;
      background-image: url("../img/header/mob_right_3.png");
      background-repeat: no-repeat;
      background-size: 152px, 271px;
      background-position: center;
      width: 152px;
      height: 271px;
      right: -40px;
      top: 171px;
      @include mq-sm {
        right: 50px;
        top: 115px;
      }
    }
    .mob_right_4 {
      position: absolute;
      margin: auto;
      background-image: url("../img/header/mob_right_4.png");
      background-repeat: no-repeat;
      background-size: 183px, 266px;
      background-position: center;
      width: 183px;
      height: 266px;
      right: -53px;
      top: 327px;
      @include mq-sm {
        right: 0px;
        top: 270px;
      }
    }
    .mob_right_5 {
      position: absolute;
      margin: auto;
      background-image: url("../img/header/mob_right_5.png");
      background-repeat: no-repeat;
      background-size: 138px, 258px;
      background-position: center;
      width: 138px;
      height: 258px;
      right: 60px;
      top: 410px;
      @include mq-sm {
        right: 250px;
        top: 200px;
      }
    }
    .mob_right_6 {
      position: absolute;
      margin: auto;
      background-image: url("../img/header/mob_right_6.png");
      background-repeat: no-repeat;
      background-size: 135px, 269px;
      background-position: center;
      width: 135px;
      height: 269px;
      right: -30px;
      top: 443px;
      @include mq-sm {
        right: 125px;
        top: 220px;
      }
    }
    .fukidashi_right_1 {
      position: absolute;
      margin: auto;
      background-image: url("../img/header/fukidashi_right.png");
      background-repeat: no-repeat;
      background-size: 97px, 75px;
      background-position: center;
      width: 97px;
      height: 75px;
      right: 60px;
      top: 10px;
      opacity: 0;
      @include mq-sm {
        right: 103px;
        top: 210px;
      }
    }
    .fukidashi_right_2 {
      position: absolute;
      margin: auto;
      background-image: url("../img/header/fukidashi_right.png");
      background-repeat: no-repeat;
      background-size: 97px, 75px;
      background-position: center;
      width: 97px;
      height: 75px;
      right: 140px;
      top: 140px;
      opacity: 0;
      @include mq-sm {
        right: 323px;
        top: 150px;
      }
    }
    .fukidashi_right_3 {
      position: absolute;
      margin: auto;
      background-image: url("../img/header/fukidashi_right.png");
      background-repeat: no-repeat;
      background-size: 97px, 75px;
      background-position: center;
      width: 97px;
      height: 75px;
      right: 150px;
      top: 370px;
      opacity: 0;
      @include mq-sm {
        right: 240px;
        top: 70px;
      }
    }
  }
}

.about_info_bg {
  position: relative;
  margin: auto;
  background-image: url("../img/about/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 2500px;
  margin-top: -50px;
  z-index: 9999;
  @include mq-sm {
    background-repeat: no-repeat;
    background-size: cover;
    height: 1450px;
  }
}

.about {
  width: 100%;
  width: 600px;
  margin: auto;
  position: relative;
  @include mq-sm {
    width: 300px;
  }

  .about_wrap {
    position: relative;
    margin: auto;
    @include mq-sm {
    width: 300px;
    }

    .about_title {
      margin: auto;
      background-image: url("../img/about/title.png");
      background-repeat: no-repeat;
      background-size: 570px, 205px;
      background-position: center;
      width: 570px;
      height: 205px;
      padding-top: 260px;
      @include mq-sm {
      background-size: 285px, 102px;
      width: 285px;
      height: 102px;
      padding-top: 160px;
      }
    }
    .about_desc {
      width: 570px;
      margin: auto;
      color: #fff;
      font-size: 25px;
      line-height: 2em;
      letter-spacing: 2px;
      font-weight: bold;
      @include mq-sm {
      width: 300px;
      font-size: 16px;
      line-height: 1.7em;
      padding-top: 160px;
      }

      .para1 {
        margin-top: -25px;
        @include mq-sm {
          margin-top: -205px;
        }
      }
      .para2 {
        margin-top: 72px;
        @include mq-sm {
          margin-top: 30px;
        }
      }
      .para3 {
        margin-top: 72px;
        padding-bottom: 320px;
        @include mq-sm {
          margin-top: 30px;
        }
      }
      a {
        text-decoration: none;
        background-color: #fff;
        color: #36b6fe;
        padding: 8px 3px;
        @include mq-sm {
          padding: 5px 2px;
        }
      }
    }
  }
  .about_bg {
    width: 100%;
    .about_cloud_1 {
      position: absolute;
      margin: auto;
      background-image: url("../img/about/cloud_1.png");
      background-repeat: no-repeat;
      background-size: 281px, 340px;
      background-position: center;
      width: 281px;
      height: 340px;
      right: -300px;
      top: 143px;
      overflow: hidden;
      @include mq-sm {
        visibility: hidden;
      }
    }
    .about_cloud_2 {
      position: absolute;
      margin: auto;
      background-image: url("../img/about/cloud_2.png");
      background-repeat: no-repeat;
      background-size: 232px, 266px;
      background-position: center;
      width: 232px;
      height: 266px;
      left: -290px;
      top: 543px;
      @include mq-sm {
        visibility: hidden;
      }
    }
    .about_cloud_3 {
      position: absolute;
      margin: auto;
      background-image: url("../img/about/cloud_3.png");
      background-repeat: no-repeat;
      background-size: 169px, 266px;
      background-position: center;
      width: 169px;
      height: 266px;
      right: -250px;
      top: 1011px;
      @include mq-sm {
        visibility: hidden;
      }
    }
  }
}

.info {
  width: 100%;
  position: relative;
  z-index: 5;
  @include mq-sm {
    width: 300px;
    margin: auto;
  }
  .info_wrap {
    width: 600px;
    position: relative;
    margin: auto;
    @include mq-sm {
      width: 300px;
    }
  }
  .info_title {
    margin: auto;
    background-image: url("../img/info/title.png");
    background-repeat: no-repeat;
    background-size: 242px, 58px;
    background-position: center;
    width: 242px;
    height: 58px;
    padding-top: 260px;
    @include mq-sm {
    background-size: 121px, 29px;
    width: 121px;
    height: 29px;
    padding: 0 0 50px 0;
    margin-top: -170px;
    }

  }
  .info_list {
    width: 600px;
    margin: auto;
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px;
    @include mq-sm {
      width: 300px;
      font-size: 15px;
      margin: auto;
    }
    ul {
      clear: both;
      list-style: none;
      li.left {
        float: left;
        width: 150px;
        font-weight: bold;
        @include mq-sm {
          width: 75px;
          font-size: 15px;
        }
      }
      li.right {
        float: right;
        width: 370px;
        padding-bottom: 30px;
        @include mq-sm {
          width: 190px;
          font-size: 15px;
        }
        .mediumfont {
          font-size: 24px;
          @include mq-sm {
            font-size: 14px;
          }
        }
        .smallfont {
          font-size: 12px;
          @include mq-sm {
            font-size: 10px;
          }
        }
      }
    }
  }
}

.qa {
  width: 100%;
  height: 3516px;
  background-image: url("../img/qa/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -70px;
  z-index: 9999;
  @include mq-sm {
    height: 2080px;
  }

  .qa_wrap {
    width: 600px;
    margin: auto;
    @include mq-sm {
      width: 300px;
    }
  }

  .qa_title {
    margin: auto;
    padding-top: 200px;
    background-image: url("../img/qa/title.png");
    background-repeat: no-repeat;
    background-size: 165px, 56px;
    background-position: center;
    width: 165px;
    height: 56px;
    @include mq-sm {
      padding-top: 140px;
      background-size: 83px, 28px;
      width: 83px;
      height: 28px;
    }
  }
  .qa_list {
    position: relative;
    @include mq-sm {
      left: 25%;
      width: 300px;
      margin: auto;
      transform: scale(0.50) translateX(-100%);
    }
    .qa_text {
      width: 420px;
      font-size: 21px;
      line-height: 45px;
      padding: 25px 0 0 30px;
    }
    .qa_q1 {
      position: absolute;
      margin: auto;
      background-image: url("../img/qa/q_1.png");
      background-repeat: no-repeat;
      background-size: 487px, 251px;
      background-position: center;
      width: 487px;
      height: 251px;
      left: 104px;
      top: -20px;
    }
    .qa_a1 {
      position: absolute;
      margin: auto;
      background-image: url("../img/qa/a_1.png");
      background-repeat: no-repeat;
      background-size: 486px, 551px;
      background-position: center;
      width: 486px;
      height: 551px;
      left: 20px;
      top: 185px;
    }
    .qa_q2 {
      position: absolute;
      margin: auto;
      background-image: url("../img/qa/q_2.png");
      background-repeat: no-repeat;
      background-size: 487px, 251px;
      background-position: center;
      width: 487px;
      height: 251px;
      left: 104px;
      top: 775px;
    }
    .qa_a2 {
      position: absolute;
      margin: auto;
      background-image: url("../img/qa/a_2.png");
      background-repeat: no-repeat;
      background-size: 486px, 311px;
      background-position: center;
      width: 486px;
      height: 311px;
      left: 20px;
      top: 980px;
    }
    .qa_q3 {
      position: absolute;
      margin: auto;
      background-image: url("../img/qa/q_3.png");
      background-repeat: no-repeat;
      background-size: 487px, 251px;
      background-position: center;
      width: 487px;
      height: 251px;
      left: 104px;
      top: 1350px;
    }
    .qa_a3 {
      position: absolute;
      margin: auto;
      background-image: url("../img/qa/a_3.png");
      background-repeat: no-repeat;
      background-size: 486px, 231px;
      background-position: center;
      width: 486px;
      height: 231px;
      left: 20px;
      top: 1555px;
    }
    .qa_q4 {
      position: absolute;
      margin: auto;
      background-image: url("../img/qa/q_4.png");
      background-repeat: no-repeat;
      background-size: 487px, 251px;
      background-position: center;
      width: 487px;
      height: 251px;
      left: 104px;
      top: 1825px;
    }
    .qa_a4 {
      position: absolute;
      margin: auto;
      background-image: url("../img/qa/a_4.png");
      background-repeat: no-repeat;
      background-size: 486px, 353px;
      background-position: center;
      width: 486px;
      height: 353px;
      left: 20px;
      top: 2020px;
    }
    .js_scroll_on {
	    opacity: 0;
    }
    .js_scroll_off {
	    transform: translate(0,20px);
      opacity: 1;
      transition: all 1s 0.5s;
    }
  }
}

.archive {
  width: 100%;
  height: 1321px;
  background-image: url("../img/archive/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -610px;
  z-index: 9999;
  @include mq-sm {
    height: 793px;
  }

  .archive_wrap {
    width: 600px;
    margin: 0 auto;
    @include mq-sm {
      width: 300px;
    }
  }

  .archive_title {
    margin: auto;
    padding-top: 200px;
    background-image: url("../img/archive/title.png");
    background-repeat: no-repeat;
    background-size: 544px, 47px;
    background-position: center;
    width: 544px;
    height: 47px;
    @include mq-sm {
      background-size: 272px, 23px;
      width: 272px;
      height: 23px;
    }
  }
  .archive_items {
    position: relative;
    margin: auto;

    .archive_list_1 {
      margin: auto;
      background-image: url("../img/archive/archive_1.png");
      background-repeat: no-repeat;
      background-size: 570px, 273px;
      background-position: center;
      width: 570px;
      height: 273px;
      margin-top: -55px;
      margin-bottom: 18px;
      @include mq-sm {
        background-size: 285px, 136px;
        width: 285px;
        height: 136px;
      }
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
    .archive_list_2 {
      margin: auto;
      background-image: url("../img/archive/archive_2.png");
      background-repeat: no-repeat;
      background-size: 570px, 273px;
      background-position: center;
      width: 570px;
      height: 273px;
      margin-bottom: 40px;
      @include mq-sm {
        background-size: 285px, 136px;
        width: 285px;
        height: 136px;
      }
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
    .archive_list_3 {
      margin: auto;
      background-image: url("../img/archive/archive_3.png");
      background-repeat: no-repeat;
      background-size: 570px, 102px;
      background-position: center;
      width: 570px;
      height: 102px;
      margin-bottom: 25px;
      @include mq-sm {
        background-size: 285px, 51px;
        width: 285px;
        height: 51px;
      }
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
    .archive_list_4 {
      margin: auto;
      background-image: url("../img/archive/archive_4.png");
      background-repeat: no-repeat;
      background-size: 570px, 102px;
      background-position: center;
      width: 570px;
      height: 102px;
      @include mq-sm {
        background-size: 285px, 51px;
        width: 285px;
        height: 51px;
      }
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
    a{
      display: block;
      width: 100%;
      height: 100%;
    }
    .archive_cloud_4 {
      position: absolute;
      margin: auto;
      background-image: url("../img/archive/cloud_4.png");
      background-repeat: no-repeat;
      background-size: 281px, 198px;
      background-position: center;
      width: 281px;
      height: 198px;
      right: -400px;
      top: -100px;
      @include mq-sm {
        background-size: 120px, 84px;
        width: 120px;
        height: 84px;
        right: -20px;
        top: 315px;
        z-index: -1;
      }
    }
    .archive_cloud_5 {
      position: absolute;
      margin: auto;
      background-image: url("../img/archive/cloud_5.png");
      background-repeat: no-repeat;
      background-size: 216px, 152px;
      background-position: center;
      width: 216px;
      height: 152px;
      left: -370px;
      top: 330px;
      @include mq-sm {
        background-size: 108px, 76px;
        width: 108px;
        height: 76px;
        right: -140px;
        top: -20px;
        z-index: -1;
      }
    }
  }

  .footer_upper {
    position: relative;
    width: 100%;
    margin: auto;
    @include mq-sm {
      width: 300px;
      margin: auto;
      transform: scale(0.50);
    }
    .archive_kabu {
      position: absolute;
      margin: auto;
      background-image: url("../img/footer/kabu.png");
      background-repeat: no-repeat;
      background-size: 968px, 69px;
      background-position: center;
      width: 968px;
      height: 69px;
      top: 195px;
      left: 140px;
      @include mq-sm {
        left: -300px;
      }
    }
    .archive_mob {
      position: absolute;
      margin: auto;
      background-image: url("../img/footer/mob.png");
      background-repeat: no-repeat;
      background-size: 702px, 222px;
      background-position: center;
      width: 702px;
      height: 222px;
      top: 35px;
      right: 50px;
      @include mq-sm {
        left: -100px;
      }
    }
  }
}

footer {
  width: 100%;
  background-color: #000;
  position: relative;
  margin-top: -44px;
  z-index: 9999;
  padding-top: 30px;

  .sns {
    margin-top: 0px;
  }

  .copyright {
    margin: auto;
    margin-top: 50px;
    background-image: url("../img/footer/kayac.png");
    background-repeat: no-repeat;
    background-size: 303px, 20px;
    background-position: top center;
    width: 350px;
    height: 20px;
    padding-bottom: 130px;
    @include mq-sm {
      margin-top: 20px;
      background-size: 151px, 10px;
      width: 151px;
      height: 10px;
      padding-bottom: 35px;
    }
    a{
      display: block;
      width: 100%;
      height: 100%;
    }
    a:hover {
      cursor: pointer;
    }
  }

}
